.Home {
background-color: white;
background-size: cover;
width: 100%;
height: 100vh;
}

.Home-container {
    margin-bottom: 40px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    background: linear-gradient(10deg, #FF6D92, #FE7167, #F07037);

}

.Home-flex-container {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    padding: 20px 30px;
    max-width:100%;
    text-align: center;
    
}

.Home-flex-item {
    width: 200px;
    color: black;

}

.Home-accordion {
    /* border: 3px solid black; */
    padding: 50px;
}

.Home-h1 {
    padding-top: 30px;
}


h1, h4 {
    color: white;
}

.Home-search-btn {
    margin: 10px;
    padding-bottom: 20px;
}