.Search-container {
  /* background: linear-gradient(10deg, #355C7D, #6C5B7B, #C06C84); */
  background-size: cover;
  width: 100%;
  height: 100vh;
}


  .Search-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    /* list-style: none; */
  }
  
  .MovieCard-flex-item {
    padding: 5px;
    width: 250px;
    height: 200px;
    margin: 10px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 2px solid #94545c;
  }

  h4 {
    color: #94545c;
  }

  .CardText {
    color: #343a5c;
  }

  .primary {
    background-color: white;
    color:#94545c;
  }

  .primary:hover {
    background-color: #343a5c;
  }

 
  
  .OMDBError {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }


