
  .Search-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    /* list-style: none; */
  }
  
  .MovieCard-flex-item {
    background: tomato;
    padding: 5px;
    width: 250px;
    height: 200px;
    margin: 10px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
  }


  h4 {
    color: white;
  }
  


